body{
    margin:0;
    height:100vh;
    background:#001f3f;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align:center;
}

h1{
    color:#ff4081;
    font-size:70px;
    text-shadow:3px 3px 10px white;

    animation: textEntry 2s ease-out;
}

.cake{
    font-size:100px;
    animation: cakeMove 2s infinite;
}

@keyframes textEntry{
    from{
        opacity:0;
        transform:translateY(-150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes cakeMove{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

.balloon{
    position:absolute;
    font-size:60px;
    animation: float 8s linear infinite;
}

.b1{
    left:10%;
}

.b2{
    left:50%;
    animation-delay:2s;
}

.b3{
    left:80%;
    animation-delay:4s;
}

@keyframes float{
    from{
        top:100%;
    }

    to{
        top:-20%;
    }
}